@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-family: "Kumbh Sans", sans-serif;
}

main {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - 16px);
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  float: right;
}

button img {
  pointer-events: none;
}

ul {
  list-style: none;
}

.faq {
  background: white;
  padding: 2rem;
  border-radius: 1rem;
}

.illustration {
  position: relative;
}

.woman {
  position: absolute;
  top: -16vh;
  left: 50%;
  transform: translateX(-50%);
}

.woman-shadow {
  position: absolute;
  top: -2vh;
  left: 52%;
  transform: translateX(-50%);
}

.title {
  margin-top: 8rem;
  margin-bottom: 2rem;
}

.title-name {
  color: hsl(237, 12%, 33%);
  text-align: center;
}

.faq-question {
  position: relative;
  padding: 0.8rem 0;
}

.faq-question::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: hsl(240, 5%, 91%);
  height: 1px;
  width: 100%;
}

.question {
  display: flex;
  justify-content: space-between;
  color: hsl(238, 29%, 16%);
}

.question p {
  cursor: pointer;
}

.question p:hover {
  color: hsl(14, 88%, 65%);
}

.answer {
  height: 0;
  overflow: hidden;
  color: hsl(240, 6%, 50%);
  padding-right: 1rem;
  margin-top: 1rem;
  transition: all 0.7s ease;
}

.answer.show {
  height: 80px;
  transition: all 0.7s ease;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  .faq {
    display: flex;
    max-width: 60vw;
    padding: 1rem;
    align-items: center;
    justify-content: space-around;
  }

  .faq-body {
    width: 50%;
    padding: 2rem 2rem;
    margin-right: 3rem;
  }

  .title {
    margin: unset;
    padding: unset;
  }

  .title-name {
    text-align: left;
    padding: 1rem 0;
  }

  .illustration {
    left: -10vw;
    width: 50%;
  }

  .woman {
    height: 300px;
  }

  .woman-shadow {
    position: absolute;
    top: 4vh;
    left: 39%;
    transform: translateX(-50%);
    height: 209px;
  }
}
